<!DOCTYPE html>   
<!--
==========================================================================
LV自动生成新增页面代码,只生成一次,按需修改.
生成日期：2024-07-19 17:16:13 +0800 CST
生成路径: template/iot_dev/product/add.html
生成人：lv
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
    <link href="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content ibox-content">
    <form class="form-horizontal m" id="form-product-add">     
            
                <div class="form-group">
                    <label class="col-sm-3 control-label">产品名称：</label>
                    <div class="col-sm-8">
                        <input name="name" class="form-control" type="text" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">产品编码：</label>
                    <div class="col-sm-8">
                        <input name="code" class="form-control" type="text" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">协议：</label>
                    <div class="col-sm-8">
                        {{getDictTypeSelect "iot_protocol" "protocol" "protocol" "form-control m-b" "" "请选择" ""}}
                    </div>
                </div>
               
              
                <div class="form-group">
                    <label class="col-sm-3 control-label">节点类型：</label>
                    <div class="col-sm-8">
                        {{getDictTypeSelect "iot_node_type" "nodeType" "nodeType" "form-control m-b" "" "请选择" ""}}
                    </div>
                </div> 
               

                <div class="form-group">
                    <label class="col-sm-3 control-label">生产厂家：</label>
                    <div class="col-sm-8">
                        <input name="factory" class="form-control" type="text" >
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 不同厂家的产品通信协议不同，需要区分</span>
                    </div>
                </div>
               
            
                <div class="form-group">
                    <label class="col-sm-3 control-label">描述：</label>
                    <div class="col-sm-8">
                        <textarea name="description" class="form-control" ></textarea>
                    </div>
                </div>

                      
    </form>
</div>
{{template "footer" (OssUrl)}}
<script src="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
    var prefix = ctx + "/iot_dev/product";
    $("#form-product-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-product-add').serialize());
        }
    }
                                     
    $("input[name='createTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });    
    $("input[name='updateTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });       
    
</script>
</body>
</html>