{{define "error/error"}}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LV</title>
	<link href="{{OssUrl}}/resource/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{OssUrl}}/resource/css/style.css" rel="stylesheet"/>
</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h3 class="font-bold">操作异常！</h3>

        <div class="error-desc">
            {{.desc}}
        </div>
    </div>
</body>
</html>
{{end}}