uploads/*
static/upload/*
logs/*
*.exe
.idea
docs/swarm
docs/swarm/*
.idea/*
*.out
*.log
main/main
robnote
temp
tmp
*.idx
.vscode
.vscode/*
.vscode-test
.vscode-test/*
.DS_Store
.DS_Store/*
