go 1.24


use (
    ./pkg/lv_framework
    ./pkg/lv_grpc_driver_proto
	./modules/common
	./modules/system
	./modules/demo
	. //根目录也做为一个module
)

// 方便本地库与github库的代码切换
//replace github.com/lostvip-com/lv_framework v1.1.9 => ./pkg/lv_framework
