static/upload/*
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
docs/swarm/*
vender/
tmp/
logs/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
.DS_Store
main/main
.vscode
*.exe
restart-prod.sh
tmp
