<!DOCTYPE html>
<!--
==========================================================================
LV自动生成列表页面代码,只生成一次,按需修改.
生成日期：2024-07-19 17:09:35 +0800 CST
生成路径: template/iot_dev/device/list.html
生成人：lv
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
</head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <input type="hidden" id="nodeType" name="nodeType"  value="12"/>
                <input type="hidden" id="deptId" name="deptId"  value="{{.deptId}}"/>
                <input type="hidden" id="productId" name="productId"  value="{{.productId}}"/>
                <div class="select-list">
                    <ul>
                        <li>
                            <p>所属产品：</p>
                            <div class="input-group">
                                <span style="width: 200px">
                                    <input type="text" class="form-control" id="productName" value="{{.productName}}">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </li>
                        <li> <p>设备名称：</p>   <input type="text" name="name"/> </li>
                        <li> <p>序列号：</p>     <input type="text" name="sn"/> </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            {{getPermiButton .uid "iot_dev:device:add" "add()" "新增" "btn btn-success" "fa fa-plus"}}
            {{getPermiButton .uid "iot_dev:device:edit" "edit()" "修改" "btn btn-primary single disabled" "fa fa-edit"}}
            {{getPermiButton .uid "iot_dev:device:remove" "$.operate.removeAll()" "删除" "btn btn-danger multiple disabled" "fa fa-remove"}}
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>

{{template "footer" (OssUrl)}}

<script type="text/javascript">
    var editFlag = '{{hasPermi .uid "iot_dev:device:edit"}}';
    var removeFlag = '{{hasPermi .uid "iot_dev:device:remove"}}';
    var prefix = ctx + "/iot_dev/device";
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit?id={id}",
            removeUrl: prefix + "/remove",
            clickToSelect:true,
            modalName: "device",
            sortName:"id",
            sortOrder:"desc",
            queryParams:queryParams,
            columns: [
                {checkbox: true },
                { field: 'id',   title: '',  visible: false    },
                { field: 'name', title: '名称'},
                { field: 'sn',title: '序列号'},
                { field: 'description', title: '备注' ,width:'100'},
                { title: '操作',  align: 'center',
                    formatter: function (value, row, index) {
                        let actions = [];
                        if (row.gatewayId>0) {
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="bindDevice(0,\'' + row.id + '\')"><i class="fa fa-remove"></i>解除绑定</a> ');
                        }else{
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="bindDevice(1,\'' + row.id + '\')"><i class="fa fa-plus"></i>绑定网关</a> ');
                        }


                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });
</script>

<script>
    $(document).keydown(function (event) {
        if(event.keyCode == 13){
            $.table.search()
        }
    })

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search.productId = $("#productId").val();
        return search;
    }

    function add() {
        // var dictType = $("#productId option:selected").val();
        table.set();
        let productId = $("#productId").val();
        let gatewayId = $("#gatewayId").val();
        let url = ctx + "/iot_dev/device/add";
        if (gatewayId!=""){ //给网关加设备
            url = url+"?gatewayId=" + gatewayId;
            $.modal.open("添加网关子设备" + table.options.modalName, url);
        }else{ //给产品加设备
            url = url+"?productId="+productId;
            $.modal.open("添加设备" + table.options.modalName, url);
        }

    }

    function edit() {
        $.operate.edit();
    }

    function resetPre() {
        $.form.reset();
        let productId = $("#productId").val();
        $("#productId").val(productId);
        // $("#dictType").val($("#dictType").val()).trigger("change");
    }

    function bindDevice(bind,deviceId){
        let gatewayId = '{{.gatewayId}}'
        console.log('deviceId:',deviceId + " - gatewayId:" + gatewayId)
        let url = ctx + "/iot_dev/device/bindGateway?gatewayId=" + gatewayId+"&deviceId="+deviceId+"&bind="+bind;
        $.post(url, {}, function(result) {
            $.modal.closeLoading();
            if (result.code == web_status.SUCCESS) {
                $.table.search()
            } else if (result.code == web_status.WARNING) {
                $.modal.alertWarning(result.msg)
            } else {
                $.modal.alertError(result.msg);
            }
        });

    }
</script>

<script src="{{OssUrl}}/resource/ajax/libs/suggest/bootstrap-suggest.min.js"></script>
<script>
    // 所属产品
    $("#productName").bsSuggest({
        getDataMethod: "url", //获取数据的方式，总是从 URL 获取
        url: ctx + "/iot_dev/product/list?name=",
        allowNoKeyword: true, //是否允许无关键字时请求数据
        hideOnSelect:true,
        idField: "id",
        keyField: "name",
        showHeader: true,
        showBtn: false,
        effectiveFieldsAlias: {
            id:"ID",
            code:"产品编号",
            name:"产品名称"
        },
        processData: function (json) { // 数据格式处理
            if (json.code!=200) {
                alert(json.msg)
                return false;
            }
            let dataAdapter = { value: []  };
            for (let i = 0; i < json.rows.length; i++) {
                dataAdapter.value.push({
                    id: json.rows[i].id,
                    name: json.rows[i].name,
                    code: json.rows[i].code,
                });
            }
            return dataAdapter;
        }
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, item) {
        console.log('onSetSelectValue: ', item);
        $("#productId").val(item.id);
    }).on('onUnsetSelectValue', function (e) {
        console.log("onUnsetSelectValue");
        $("#productId").val("");
    });

</script>

</body>
</html>