<!DOCTYPE html>       
<!--
==========================================================================
LV自动生成修改页面代码,只生成一次,按需修改.
生成日期：2024-07-30 21:59:38 +0800 CST
生成路径: template/iot_dev/property/edit.html
生成人：lv
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
    <link href="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content   ibox-content">
    <form class="form-horizontal m" id="formEdit">
        <input name="id" value="{{.property.Id}}" type="hidden">
            
            <div class="form-group">
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input name="name" value="{{.property.Name}}" class="form-control"  type="text" required>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">标识符：</label>
                <div class="col-sm-8">
                    <input name="code" value="{{.property.Code}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">标签：</label>
                <div class="col-sm-8">
                    <input name="tag" value="{{.property.Tag}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">读写类型：</label>
                <div class="col-sm-8">
                    {{getDictTypeSelect "iot_rw_type" "accessMode" "accessMode" "form-control m-b" .property.AccessMode "" ""}}
                </div>
            </div>
             
            <div class="form-group">
                <label class="col-sm-3 control-label">数据类型：</label>
                <div class="col-sm-8">
                    {{getDictTypeSelect "iot_data_type" "type" "type" "form-control m-b" .property.Type "" ""}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">倍率：</label>
                <div class="col-sm-8">
                    <input name="precision" value="{{.property.Precision}}" class="form-control"  type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">单位：</label>
                <div class="col-sm-8">
                    <input name="unit" value="{{.property.Unit}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"
                              >{{.property.Remark}}</textarea>
                </div>
            </div>               
    </form>
</div>
{{template "footer" (OssUrl)}}
<script type="text/javascript">
    var prefix = ctx + "/iot_dev/property";
    $("#formEdit").validate({
        focusCleanup: true
    });


    function submitHandler(index,layero,callback) {
        console.log("callback:",callback)
        if ($.validate.form()) {
            let form =  $('#formEdit').serialize()
            $.operate.save(prefix + "/edit",form,function (result){
                $.modal.closeAll()
                console.log(callback)
                callback(result) //通知父页面刷新
            });
        }
    }
                                              

</script>
</body>
</html>