{{define "footer"}}
<!-- 通用JS -->
    <script type="application/javascript">
        var ctx = "{{Ctx}}";
        var lockscreen = null;
        if(lockscreen){window.top.location=ctx+"lockscreen";}
    </script>

    <a id="scroll-up" href="javascript:;" class="btn btn-sm display"><i class="fa fa-angle-double-up"></i></a>

    <!-- bootstrap-table 表格插件 -->
    <script src="{{OssUrl}}/resource/ajax/libs/bootstrap-table/bootstrap-table.min.js?v=1.22.6"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=1.22.6"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js?v=1.22.6"></script>
    <!-- jquery-validate 表单验证插件 -->
    <script src="{{OssUrl}}/resource/ajax/libs/validate/jquery.validate.min.js?v=1.19.3"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/validate/jquery.validate.extend.js?v=1.19.3"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/validate/messages_zh.js?v=1.19.3"></script>
    <!-- bootstrap-table 表格树插件 -->
    <script src="{{OssUrl}}/resource/ajax/libs/bootstrap-table/extensions/tree/bootstrap-table-tree.min.js?v=1.22.6"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.js"></script>
    <!-- 遮罩层 -->
    <script src="{{OssUrl}}/resource/ajax/libs/blockUI/jquery.blockUI.js?v=2.70.0"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/iCheck/icheck.min.js?v=1.0.3"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/layer/layer.min.js?v=3.7.0"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/layui/layui.min.js?v=2.8.18"></script>
    <script src="{{OssUrl}}/resource/ruoyi/js/common.js?v=4.7.9"></script>
    <script src="{{OssUrl}}/resource/ruoyi/js/ry-ui.js?v=4.7.9&test=3"></script>
    <script src="{{OssUrl}}/resource/lostvip/ry-ext.js?v=1"></script>

{{end}}