{{define "system/config/edit"}}
<!DOCTYPE html>
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-config-edit">
        <input id="configId" name="configId" value="{{.config.ConfigId}}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">参数名称：</label>
            <div class="col-sm-8">
                <input id="configName" name="configName" value="{{.config.ConfigName}}" class="form-control"
                       type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数键名：</label>
            <div class="col-sm-8">
                <input id="configKey" name="configKey" value="{{.config.ConfigKey}}" class="form-control"
                       type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">参数键值：</label>
            <div class="col-sm-8">
                <input id="configValue" name="configValue" value="{{.config.ConfigValue}}" class="form-control"
                       type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">系统内置：</label>
            <div class="col-sm-8">
                {{getDictTypeRadio "sys_yes_no" "configType" .config.ConfigType}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control">{{.config.Remark}}</textarea>
            </div>
        </div>
    </form>
</div>
{{template "footer" (OssUrl)}}
<script type="text/javascript">
    var prefix = ctx + "/system/config";

    $("#form-config-edit").validate({
        onkeyup: false,
        rules: {
            configKey: {
                remote: {
                    url: prefix + "/checkConfigKeyUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "configId": function () {
                            return $("#configId").val();
                        },
                        "configKey": function () {
                            return $.common.trim($("#configKey").val());
                        }
                    }
                }
            },
        },
        messages: {
            "configKey": {
                remote: "参数键名已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-config-edit').serialize());
        }
    }
</script>
</body>
</html>
{{end}}