<!DOCTYPE html>
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<title>系统首页</title>
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="{{OssUrl}}/resource/favicon.ico" rel="shortcut icon"/>

</head>
<body class="fixed-sidebar full-height-layout gray-bg " style="overflow: hidden">
<div id="wrapper">
 index
</div>
<!-- 全局js -->
</body>
</html>
