{{define "header"}}
<!-- 通用CSS -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="{{OssUrl}}/favicon.ico">

<link href="{{OssUrl}}/resource/css/bootstrap.min.css?v=3.3.7" rel="stylesheet"/>
<link href="{{OssUrl}}/resource/css/font-awesome.min.css?v=4.7.0" rel="stylesheet"/>
<!-- bootstrap-table 表格插件样式 -->
<link href="{{OssUrl}}/resource/ajax/libs/bootstrap-table/bootstrap-table.min.css?v=1.22.6" rel="stylesheet"/>
{{/*<link href="{{OssUrl}}/resource/css/animate.min.css?v=20210831" rel="stylesheet"/>*/}}
<link href="{{OssUrl}}/resource/css/style.min.css?v=20210831" rel="stylesheet"/>
<link href="{{OssUrl}}/resource/ruoyi/css/ry-ui.css?v=4.7.9" rel="stylesheet"/>
<link href="{{OssUrl}}/resource/lostvip/ry-ext.css?v=4.7.9" rel="stylesheet"/>
{{end}}