{{define "login"}}
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>登录若依系统</title>
    <meta name="description" content="若依后台管理框架">
    <link href="{{OssUrl}}/resource/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="{{OssUrl}}/resource/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="{{OssUrl}}/resource/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="{{OssUrl}}/resource/css/login.css?v=1" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="{{OssUrl}}/resource/ruoyi/css/ry-ui.css" th:href="@{/ruoyi/css/ry-ui.css?v=4.6.1}" rel="stylesheet"/>
    <!-- 360浏览器急速模式 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{OssUrl}}/resource/favicon.ico"/>
    <style type="text/css">label.error { position:inherit;  }</style>
    <script>
        if(window.top!==window.self){alert('未登录或登录超时。请重新登录');window.top.location=window.location};
    </script>
</head>
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-md-6  col-lg-6">
                <div class="signin-info">
                    <div class="logopanel m-b">
{{/*                        <h1><img alt="[ 欢迎使用 ]" style="width: 64px;height: 64px" src="{{OssUrl}}/resource/logo.png"></h1>*/}}
                    </div>
                    <div class="m-b"></div>
                    <h2> <strong>lostvip管理系统</strong></h2>
                    <ul class="m-b login-left">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> go</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> gin</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> gorm</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> boorstrap</li>
                    </ul>
{{/*                    <strong th:if="${@config.getKey('sys.account.registerUser')}">还没有账号？ <a th:href="@{/register}">立即注册&raquo;</a></strong>*/}}
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <form id="signupForm" autocomplete="off">
                    <h3 class="no-margins">用户登录：</h3>
                    <input type="text"     name="username" class="form-control uname"     placeholder="用户名" value=""  />
                    <input type="password" name="password" class="form-control pword"     placeholder="密码"   value="" />

					<div id="vcode" class="row m-t" style="display: {{if eq .CodeShow 0}} none {{end}}" >
						<div class="col-xs-6">
                            <input type="text" name="validateCode" class="form-control code" placeholder="验证码" maxlength="6">
                            <input type="hidden" id="idkey"/>
                        </div>
						<div class="col-xs-6">
                            <a href="javascript:void(0);" title="点击更换验证码">
                                <img src="{{OssUrl}}/resource/img/loading.gif" id="imgcode" class="imgcode" width="100%" height="30px"/>
                            </a>
						</div>
					</div>

                    <div class="checkbox-custom" style="margin-top: 10px">
				        <input type="checkbox" id="rememberme" name="rememberme"> <label for="rememberme">记住我</label>
				    </div>
                    <button class="login-left btn btn-success btn-block" id="btnSubmit" data-loading="正在验证登录，请稍后...">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                Copyright © 2020-2023 lostvip.com All Rights Reserved. <br>
            </div>
        </div>
    </div>

<!-- 全局js -->
    <script type="application/javascript"> var ctx = "{{Ctx}}";</script>
    <!-- 全局js -->
    <script src="{{OssUrl}}/resource/js/jquery.min.js"></script>
    <script src="{{OssUrl}}/resource/js/bootstrap.min.js"></script>
    <!-- 验证插件 -->
    <script src="{{OssUrl}}/resource/ajax/libs/validate/jquery.validate.min.js"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/validate/messages_zh.min.js"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/layer/layer.min.js"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/iCheck/icheck.min.js"></script>
    <script src="{{OssUrl}}/resource/ajax/libs/blockUI/jquery.blockUI.js"></script>
    <script src="{{OssUrl}}/resource/ruoyi/js/ry-ui.js?v=2.1.0"></script>
    <script src="{{OssUrl}}/resource/ruoyi/login.js?v=1"></script>
</body>
</html>
{{end}}