<!DOCTYPE html>
<!--
==========================================================================
LV自动生成列表页面代码,只生成一次,按需修改.
生成日期：2024-07-30 21:59:34 +0800 CST
生成路径: template/iot_dev/action/list.html
生成人：lv
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
</head>
<body class="gray-bg">
<div class="container-div" style="padding: 0px;padding-left: 16px">
    <div class="row">
        <div class="btn-group-sm" id="toolbar" role="group">
            {{getPermiButton .uid "iot_dev:product:add" "add()" "新增" "btn btn-success" "fa fa-plus"}}
            {{getPermiButton .uid "iot_dev:product:remove" "$.operate.removeAll()" "删除" "btn btn-danger multiple disabled" "fa fa-remove"}}
            {{getPermiButton .uid "iot_dev:product:export" "$.table.exportExcel()" "导出" "btn btn-warning" "fa fa-download"}}
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
{{template "footer" (OssUrl)}}
<script type="text/javascript">
    var editFlag = '{{hasPermi .uid "iot_dev:product:edit"}}';
    var removeFlag = '{{hasPermi .uid "iot_dev:product:remove"}}';

                                  
    var prefix = ctx + "/iot_dev/action";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "action",
            sortName:"id",
            sortOrder:"desc",
            search: true,
            showSearch: false,
            columns: [ { checkbox: true},
                    {field: 'id', title: '主键', visible: false},
                    {field: 'name', title: '名称',width:100},
                    {field: 'code', title: '标识符',width:100},
                    {field: 'tag', title: '标签',width:100},
                    {field: 'remark', title: '描述',width:120},
                    {title: '操作',align: 'center',width:100,
                            formatter: function (value, row, index) {
                                var actions = [];
                                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editRight(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                                return actions.join('');
                            }
                }
            ]
        };
        $.table.init(options);
    });
</script>

<script>
    $(document).keydown(function (event) {
        if(event.keyCode == 13){
            $.table.search()
        }
    })

   function add() {
           let url = prefix + "/add";
           lv_add_center("添加" + table.options.modalName, url,'800px','600px',function (){
               $.table.search()
           });
   }
   function editRight(id) {
        let url = prefix + "/edit?id=" + id
        lv_edit_right("修改"+table.options.modalName ,url,'500px','100%',function (){
            $.table.search()
        });
   }
</script>

</body>
</html>