{{define "demo/form/duallistbox"}}
<!DOCTYPE html>
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
    <link href="{{OssUrl}}/resource/ajax/libs/duallistbox/bootstrap-duallistbox.min.css" rel="stylesheet"/>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content  ">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>双重列表框 <small>https://github.com/istvan-ujjmeszaros/bootstrap-duallistbox</small></h5>
                    </div>  
                    <div class="ibox-content">
                        <p>
                            Bootstrap Dual Listbox是针对Twitter Bootstrap进行了优化的响应式双列表框。它适用于所有现代浏览器和触摸设备。
                        </p>

                        <form id="form" action="#" class="wizard-big">
                            <select class="form-control dual_select" multiple>
                                <option value="1">LV1</option>
                                <option value="2">LV2</option>
                                <option value="3">LV3</option>
                                <option selected value="4">LV4</option>
                                <option selected value="5">LV5</option>
                                <option value="6">LV6</option>
                                <option value="7">LV7</option>
                                <option value="8">LV8</option>
                                <option value="9">LV9</option>
                                <option value="10">LV10</option>
                                <option value="11">LV11</option>
                                <option value="12">LV12</option>
                            </select>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" (OssUrl)}}
    <script src="{{OssUrl}}/resource/ajax/libs/duallistbox/bootstrap-duallistbox.min.js"></script>
    <script type="text/javascript">
	    $('.dual_select').bootstrapDualListbox({
	    	nonSelectedListLabel: '未有用户',
            selectedListLabel: '已有用户',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,           // 出现一个剪头，表示可以一次选择一个
            filterTextClear: '展示所有',
            moveSelectedLabel: "添加",
            moveAllLabel: '添加所有',
            removeSelectedLabel: "移除",
            removeAllLabel: '移除所有',
            infoText: '共{0}个',
            showFilterInputs: false,       // 是否带搜索
	        selectorMinimalHeight: 160
	    });
    </script>
</body>
</html>
{{end}}