{{define "system/dept/edit"}}
<!DOCTYPE html>
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
</head>
<body class="white-bg">
<div class="wrapper wrapper-content   ibox-content">
    <form class="form-horizontal m" id="form-dept-edit">
        <input id="deptId" name="deptId" type="hidden" value="{{.dept.DeptId}}"/>
        <input id="treeId" name="parentId" type="hidden" value="{{.dept.ParentId}}"/>
        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 control-label control-label ">上级部门：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" type="text" id="treeName" onclick="selectDeptTree()" readonly="true"
                           value="{{.dept.ParentName}}">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 control-label control-label">部门名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="deptName" value="{{.dept.DeptName}}" id="deptName"
                       required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 control-label control-label">显示排序：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="orderNum" value="{{.dept.OrderNum}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 control-label control-label">负责人：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="leader" value="{{.dept.Leader}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 control-label control-label">联系电话：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="phone" value="{{.dept.Phone}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 control-label control-label">节点类型：</label>
            <div class="col-sm-8">
                {{DictRadio "sys_dept_type" "deptType" .dept.DeptType}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-4 col-lg-4 col-xl-4 control-label control-label">节点状态：</label>
            <div class="col-sm-8">
                {{DictRadio "sys_normal_disable" "status" .dept.Status}}
            </div>
        </div>
    </form>
</div>
{{template "footer" (OssUrl)}}
<script type="text/javascript">
    var prefix = ctx + "/system/dept";

    $("#form-dept-edit").validate({
        onkeyup: false,
        rules: {
            deptName: {
                minlength: 2,
                maxlength: 16,
            },
            orderNum: {
                digits: true
            },
            email: {
                email: true,
            },
            phone: {
                isPhone: true,
            },
        },
        messages: {

        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-dept-edit').serialize());
        }
    }

    /*部门管理-修改-选择部门树*/
    function selectDeptTree() {
        var deptId = $("#treeId").val();
        if (deptId > 0) {
            var options = {
                title: '部门选择',
                width: "380",
                url: prefix + "/selectDeptTree?treeId=" + $("#treeId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        } else {
            $.modal.alertError("父部门不能选择");
        }
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowLastLevel(tree)) {
            var body = $.modal.getChildFrame(index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            $.modal.close(index);
        }
    }
</script>
</body>
</html>
{{end}}