<!DOCTYPE html>       
<!--
==========================================================================
LV自动生成修改页面代码,只生成一次,按需修改.
生成日期：2024-02-28 14:21:50 +0800 CST
生成路径: template/mywork/params/edit.html
生成人：lv
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
    <link href="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-params-edit">
        <input name="id" value="{{.params.Id}}" type="hidden">

        <div class="form-group">
                <label class="col-sm-3 control-label">ID：</label>
                <div class="col-sm-8">
                    <input name="id" value="{{.params.Id}}" class="form-control"  type="text" >
                </div>
            </div>
              
            <div class="form-group">
                <label class="col-sm-3 control-label">参量号：</label>
                <div class="col-sm-8">
                    <input name="paramNo" value="{{.params.ParamNo}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">参量名称：</label>
                <div class="col-sm-8">
                    <input name="paramName" value="{{.params.ParamName}}" class="form-control"  type="text" required>
                </div>
            </div>
             
            <div class="form-group">
                <label class="col-sm-3 control-label">参量类型：</label>
                <div class="col-sm-8">
                    <select name="paramType" class="form-control m-b" >
                        <option value="">所有</option>
                        <option value="ai" {{if eq .params.ParamType "ai"}}selected{{end}}>遥测（AI）</option>
                        <option value="di" {{if eq .params.ParamType "di"}}selected{{end}}>遥信（DI）</option>
                        <option value="ao" {{if eq .params.ParamType "ao"}}selected{{end}}>遥调（AO）</option>
                        <option value="do" {{if eq .params.ParamType "do"}}selected{{end}}>遥控（DO）</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>  
            
            <div class="form-group">
                <label class="col-sm-3 control-label">单位：</label>
                <div class="col-sm-8">
                    <input name="unit" value="{{.params.Unit}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">备注信息：</label>
                <div class="col-sm-8">
                    <input name="remark" value="{{.params.Remark}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">监控类型：</label>
                <div class="col-sm-8">
                    <input name="monitorTypeId" value="{{.params.MonitorTypeId}}" class="form-control"  type="text" >
                </div>
            </div>
            
    </form>
</div>
{{template "footer" (OssUrl)}}
<script src="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    var prefix = ctx + "/mywork/params";
    $("#form-params-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-params-edit').serialize());
        }
    }
                                      
    $("input[name='createTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
      
    
</script>
</body>
</html>