<!DOCTYPE html>
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
    <link href="{{OssUrl}}/resource/css/animate.min.css?v=20210831" rel="stylesheet"/>
</head>
<body class="gray-bg">

<div class="animated fadeIn">

    <div class="panel blank-panel">

        <div class="panel-heading">
            <div class="panel-options">

                <ul class="nav nav-tabs">

                    <li class="active" title="设备信息">
                        <a data-toggle="tab" href="../device/tabs_panels.html#tab-0"><i class="fa fa-desktop"></i></a>
                    </li>

                    <li class="" title="网关信息">
                        <a data-toggle="tab" href="../device/tabs_panels.html#tab-1"><i class="fa fa-signal"></i></a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="panel-body" style="padding: 0">
            <div class="tab-content">

                <!-- tab0 start -->
                <div id="tab-0" class="tab-pane active" style="width: 100%;height: 800px">
                    <iframe id="tab0_iframe" src="/iot_dev/device/preTabListRealtime?deptId={{.deptId}}" style="border:none;width: 100%;height: 100%;"></iframe>
                </div>
                <!-- tab0 end -->

                <!-- tab1 start -->
                <div id="tab-1" class="tab-pane" style="width: 100%;height: 800px">
                    <iframe id="tab0_iframe" src="/iot_dev/device/preTabListGateway?deptId={{.deptId}}" style="border:none;width: 100%;height: 100%;"></iframe>
                </div>
                <!-- tab1 end -->

            </div>
        </div>
    </div>

</div>
{{template "footer" (OssUrl)}}

<script>
    {{/*document.getElementById('iframe1').src = '/iot_dev/device/preTabListDevice?deptId={{.dept.DeptId}}'*/}}
</script>
</body>
</html>
