<!DOCTYPE html>   
<!--
==========================================================================
LV自动生成新增页面代码,只生成一次,按需修改.
生成日期：2024-07-30 21:59:36 +0800 CST
生成路径: template/iot_dev/event/add.html
生成人：lv
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
    <link href="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content   ibox-content">
    <form class="form-horizontal m" id="formAdd">

        <input name="productId" class="form-control" type="hidden" value="{{.productId}}">

        <div class="form-group">
            <label class="col-sm-3 control-label">名称：</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">事件类型：</label>
            <div class="col-sm-8">
                {{getDictTypeRadio "iot_event_type" "eventType" "0"}}
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">标识符：</label>
            <div class="col-sm-8">
                <input name="code" class="form-control" type="text" >
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">标签：</label>
            <div class="col-sm-8">
                <input name="tag" class="form-control" type="text" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">输出参数：</label>
            <div class="col-sm-8">
                <textarea name="outputParams" class="form-control" ></textarea>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">描述：</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" ></textarea>
            </div>
        </div>

    </form>
</div>
{{template "footer" (OssUrl)}}
<script src="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
    var prefix = ctx + "/iot_dev/event";
    $("#formAdd").validate({
        focusCleanup: true
    });

    function submitHandler(index,layero,callback) {
        console.log(callback)
        if ($.validate.form()) {
            let form =  $('#formAdd').serialize()
            $.operate.save(prefix + "/add",form,function (result){
                $.modal.closeAll()
                console.log(callback)
                callback(result) //通知父页面刷新
            });
        }
    }

    
</script>
</body>
</html>