<!DOCTYPE html>       
<!--
==========================================================================
LV自动生成修改页面代码,只生成一次,按需修改.
生成日期：2024-01-03 21:50:54 +0800 CST
生成路径: template/mywork/task/edit.html
生成人：lv
==========================================================================
-->
<html lang="zh">
<head>
    {{template "header" (OssUrl)}}
    <link href="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-task-edit">
        <input name="id" value="{{.task.Id}}" type="hidden">
            
            <div class="form-group">
                <label class="col-sm-3 control-label">工号：</label>
                <div class="col-sm-8">
                    <input name="username" value="{{.task.Username}}" class="form-control"  type="text" required>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">密码：</label>
                <div class="col-sm-8">
                    <input name="password" value="{{.task.Password}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">项  目  号：</label>
                <div class="col-sm-8">
                    <input name="prjCode" value="{{.task.PrjCode}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">任务内容：</label>
                <div class="col-sm-8">
                    <input name="taskContent" value="{{.task.TaskContent}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">开始日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="startDate" value="{{.task.StartDate}}" class="form-control"
                               placeholder="yyyy-MM-dd" type="text" >
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">结束日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="endDate" value="{{.task.EndDate}}" class="form-control"
                               placeholder="yyyy-MM-dd" type="text" >
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">本月工时：</label>
                <div class="col-sm-8">
                    <input name="workDays" value="{{.task.WorkDays}}" class="form-control"  type="text" >
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label">自动提交：</label>
                <div class="col-sm-8">
                    <input name="autoSubmit" value="{{.task.AutoSubmit}}" class="form-control"  type="text" >
                </div>
            </div>
              
            <div class="form-group">
                <label class="col-sm-3 control-label">任务状态：</label>
                <div class="col-sm-8">
                    {{getDictTypeRadio "sys_normal_disable" "status" "Status"}}
                </div>
            </div>  
            
            <div class="form-group">
                <label class="col-sm-3 control-label">排序，大的优先：</label>
                <div class="col-sm-8">
                    <input name="sort" value="{{.task.Sort}}" class="form-control"  type="text" >
                </div>
            </div>
                    
    </form>
</div>
{{template "footer" (OssUrl)}}
<script src="{{OssUrl}}/resource/ajax/libs/datapicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    var prefix = ctx + "/mywork/task";
    $("#form-task-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-task-edit').serialize());
        }
    }
                          
    $("input[name='startDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
        
    $("input[name='endDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
                            
    $("input[name='updateTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
        
    $("input[name='createTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
              
    
</script>
</body>
</html>