uploads/*
static/upload/*
logs/*
*.exe
.idea
docs/prod/swarm
docs/prod/swarm/*
.idea/*
*.out
*.log
*.xls
*.xlsx
main/main
main/restart-demo.sh
main/restart-test.sh
main/restart-*
robnote
temp
tmp
*.idx
.vscode
.vscode/*
.vscode-test
.vscode-test/*
.DS_Store
.DS_Store/*
node_modules